/* start css */
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.texPrimary{
    color: #fd6e0a;
}
.buttonPrimary{
    border-radius: 8px;
    color: #ffffff;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    padding: 15px 35px;
}

   /* header style */
.header{
    background: rgba(229, 84, 115, 0.10);
    /* background-image: url('../img/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right; */
}
.banner{
    padding: 30px 200px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannerContain{
    max-width: 650px;
}
.banner .profilePic{
    width: 500px;
   
    /* width: 584px;
    height: 676px;
    flex-shrink: 0; */
}
/* .bannerGreeting{
    color:#474747;
    font-size: 45px;
    margin-bottom: 0px;
} */
.bannerTitle{
    font-size: 60px;
    font-weight: 800px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.bannerP{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}