/* start css */
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.texPrimary{
    color: #fd6e0a;
}
.buttonPrimary{
    border-radius: 8px;
    color: #ffffff;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    padding: 15px 35px;
}

   /* header style */
.header{
    background: rgba(229, 84, 115, 0.10);
    /* background-image: url('../img/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right; */
    margin-bottom: 130px;
}
.banner{
    padding: 30px 200px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannerContain{
    max-width: 650px;
}
.banner .profilePic{
    width: 500px;
   
    /* width: 584px;
    height: 676px;
    flex-shrink: 0; */
}
/* .bannerGreeting{
    color:#474747;
    font-size: 45px;
    margin-bottom: 0px;
} */
.bannerTitle{
    font-size: 60px;
    font-weight: 800px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.bannerP{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
/* main section style */
/* main{
    max-width: 1140px;
    margin: 0 auto;
} */

/* featured section style */
.featured{
    padding: 20px;
    border-radius: 10px;
    background: #FFF;
   
    max-width: 1140px;
    margin: 0 auto;


   
}
.sectionTitle{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}
.sectionPDes{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
   

   
}
.featuredContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
/* .featuredContainerDiv{
    display: flex;
    justify-content: space-around;
} */
.featuredContainerTitle{
    color:#181818;
    text-align: center ;
    font-size: 15px;
    font-weight: 700;
    text-decoration: underline;
   

}
.featuredContainerImg{
    width: 350px;
    height: 400px;
    margin: 10px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
 /* hot deal section */

.hotDealSection{
    background: rgba(229, 84, 115, 0.10);
    margin-top: 120px;
    width: 1900px;
    height: 600px;
}
/* .hotDealContainer{
    max-width: 650px;
    width: 1922px;
height: 620px;
} */

.hotDeal{
    /* width: 19202px;
    height: 620px; */
    padding: 100px 400px 0px 350px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.hotDealTitle{
    color: #272727;
    font-size: 40px;
    font-weight: 600;
    
}
.hotDealDes{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hotDealPic{
    width: 300px;
    height: 400px;
    margin-bottom: 50px;

}
/* instagram section */

.instagram{
    padding: 20px;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
}
.instagramContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.instagramContainerImg{
    width: 350px;
    height: 400px;
    margin: 10px;
    /* border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15); */
}
/* latest Deal section */
.latestDeal{
    border-radius: 8px;
    background: url('/img/Rectangle\ 9.png');
    height: 405px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
}
.latestDealTitle{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 120px;
    margin-bottom: 10px;
}
.latestDealDes{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
.latestDealEmail{
    width: 500px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
  margin-left: 350px;

}

/* footer style */
.footer{
    width: 1900px;
    height: 350px;
    background: #111010;
    text-align: center;
    margin-top: 120px;
}
.footerTitle{
    color: #ffffff;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;

}
.footerDes{
    color: rgba(255, 255, 255, 0.90);
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
.footerCopy{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}